{% extends "./layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row">
    <div class="alert alert-danger">
        <strong>Error!</strong> {{ messages[0] }}
    </div>
</div>
{% endif %}
{% endwith %}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Tweets</div>
        <div class="panel-body" style="max-height: 450px;overflow-y: scroll;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>Tweet Content</th>
                            <th>Language</th>
                            <th>Place</th>
                            <th>Retweets</th>
                            <th>Likes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{tableBody}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Parsing</div>
        <div class="panel-body">
            <p>Please specify the Regular Expression below if you want to parse the results.</p>
            <form method="POST" action="/" id="parseForm">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <div class="col-sm-8">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">RegEx:</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
                                <textarea class="form-control" rows="5" name="regularExpression" id="comment" placeholder="Regular Expression..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="alert alert-info">
                        <strong>Info!</strong> Regular Expressions are applied only to the Tweet Content!
                    </div>
                    <div class="alert alert-info">
                        <strong>Info!</strong> All Tweets will be discarded if pattern is not found within!
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button id="skipParse" type="submit" class="btn btn-primary">Skip Parsing</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button id="parse" type="submit" class="btn btn-primary">Parse!</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button id="parseAndAnalyze" type="submit" class="btn btn-success">Parse and Analyze!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default" style="height:300px;width:375px;">
            <div class="panel-heading">Step 1 - Filtering</div>
            <div class="panel-body">
                <p>
                    As an initial step, you have to apply some sort of filtering to eliminate excessive Twitter API usage.
                </p>
                <p>
                    This can be done by searching for specific tweets by using "Generic Search" option, searching tweets that are sent by a specific user or you can look for Trend Tweets.
                </p>
                <p>
                    Note that the Generic Search option is available only to signed users.
                </p>
                <p>
                    While Tweet retrieval limit is <b>150</b> for registered users, it is <b>25</b> for unregistered users.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary" style="height:300px;width:375px;">
            <div class="panel-heading">Step 2 - Parsing</div>
            <div class="panel-body">
                <p>
                    After you determine the filtering options, Agile TweetViz will retrieve the tweets that you are looking for for you and will give you an ability to parse them.
                </p>
                <p>
                    You will be able to parse through <b>Regular Expressions.</b> Which we think is a convenient option to select tweets precisely according to the user's needs.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" style="height:300px;width:375px;">
            <div class="panel-heading">Step 3 - Sorting</div>
            <div class="panel-body">
                <p>
                    Agile TweetViz will apply the regular expression, if specified at all and then will allow you to sort them by replies, likes and retweets etc.
                </p>
                <p>
                    Agile TweetViz will sort the tweets according to your needs and then show them to you. It will also do some analysis and show the results to you.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#skipParse").click(function (e) {
            $('#parseForm').attr('action', "/parse_skip");
        });
        $("#parse").click(function (e) {
            $('#parseForm').attr('action', "/parse");
        });
        $("#parseAndAnalyze").click(function (e) {
            $('#parseForm').attr('action', "/parse_analyze");
        });
    });
</script>
{% endblock %}